canvas {
    padding: 0;
    margin: auto;
    display: block;
    background-color: bisque;
}

table {
    width: 100%;

}

td {
    text-align: center;
}

body {
    background-color: aquamarine;
    background-repeat: no-repeat;
}
#icon {
    width: 300px;
}
#board {
    min-width: 250px;
}